{% extends "base.html" %}

{% block content %}
<table border="1">
    <tr>
    <th>Tithe</th>
    <th>Absthact</th>
    <th>mots_cles</th>
    <th>fichier PDF</th>
    <th>statut</th>
    <th>Conference</th>
    <th>Auteur</th>
    <th>TelechargerPDF</th>

    </tr>

    <tr>
        <td>{{dSubmission.title}}</th>
        <td>{{dSubmission.abstract}}</th>
        <td>{{dSubmission.keyword}}</th>
        <td>{{dSubmission.paper}}</th>
        <td>{{dSubmission.status}}</th>
        <td>{{dSubmission.conference_id}}</th>
        <td>{{dSubmission.user_id}}</th>
        <td>
            {% if dSubmission.paper %}
                <a href="{{ dSubmission.paper.url }}" download>Télécharger</a>
            {% else %}
                Aucun fichier
            {% endif %}
        </td>

    </tr>
    
    


</table>

{% endblock %}