{% extends "base.html" %}

{% block content %}
<h2>Liste des soumissions pour cette conférence</h2>

<table border="1">
    <tr>
        <th>Titre</th>
        <th>Statut</th>
        <th>Utilisateur / Auteur</th>
        <th>Conférence associée</th>
        <th>Date de soumission</th>
        <th>Paiement (O/N)</th>
        <th>Détails de la soumission</th>
        <th>Update de la soumission</th>
    </tr>

    {% for c in Liste_Submission %}
        <tr>
            <td>{{ c.title }}</td>
            <td>{{ c.status }}</td>
            <td>{{ c.user_id }}</td>
            <td>{{ c.conference_id }}</td>
            <td>{{ c.submission_date }}</td>
            <td>{{ c.payed }}</td>
            <td><a href="{% url 'submission_detail' c.pk %}">Voir détails</a></td>

            {% if user.is_authenticated and c.status == 'accepted' or c.status == 'rejected' %}
                <td><a href="{% url 'Submission_Update' c.conference_id %}">Mettre à jour</a></td>
            {% else %}
                <td>-</td>
            {% endif %}
        </tr>
    {% empty %}
        <tr>
            <td colspan="8">Aucune soumission trouvée.</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
