{% extends "base.html" %}

{% block content %}
<h2>Liste des conférences</h2>


<button>
<a href="{% url 'conference_add' %}">Ajouter une conference</a>
</button>

<br><br><br>
<table border="1">
    <tr>
        <td>Titre</td>
        <td>Locationn</td>
        <td>action</td>
    </tr>

    {% for c in Liste_conferences %}
        <tr>
            <td>{{ c.name }}</td>
            <td>{{ c.location }}</td>
            <td><a href="{% url 'conference_detail' c.pk %}">Voir Détails</a></td>


            {% if user.is_authenticated and user.role == 'commitee' %}

                <td><a href="{% url 'conference_Update' c.pk %}">Modifier</a></td>
                <td><a href="{% url 'conference_delete' c.pk %}">Supprimer</a></td>
                
            {% endif %}
            <td><a href="{% url 'all_Submission' c.pk %}">Voir submissions</a></td>

        </tr>
    {% endfor %}
</table>
{% endblock %}